*{
    padding: 0px;
    margin: 0px;
}
.pass{
    background-color: whitesmoke;
    text-align: center;
    margin-top: 70px;
    height: 200px;
    width: 30%;
    margin-left: 35%;
}
input{
    width: 300px;
    height: 35px;
    /* border: 2px solid white;
    border-radius: 5px;
    background: none; */
}
.btn{
    width: 300px;
}
i{
    margin-top: 10px;
    left: 800px;
    position: absolute;
}
